<h1>Teatro</h1>
<div *ngIf = "div === undefined">
  <p>
    Inserisci la chiave del teatro
  </p>
  <input id="key" #key type="text" />
  <button id="bottoneKey" (click)="EntryDatabase(key.value)">Inserisci</button>
  <p>
    <button id="bottoneRESET" (click)="cleanTeatro()">RESET</button>
  </p>
  <p id="output"></p>
</div>

<div *ngIf = "div !== undefined">
  <p>Scrivi il tuo nome e scegli il posto che vuoi</p>
  <br />
  <input id="info" #info type="text" />
<p>
  <button *ngFor="let platea of bottoni; let counter = index"  style="color:green"
  (click)="selezionaPostoPlatea(info.value, counter)">
    <p>
      {{ platea }}
    </p>
  </button>
</p>
<p>
  <button *ngFor="let palchi of bottoni1; let counter = index" style="color:green" (click)="selezionaPostoPalchi(info.value, counter)">
    <p>
      {{ palchi }}
    </p>
  </button>
</p>
<table>
<tr *ngFor="let row of [1, 2, 3, 4, 5, 6, 7]"> 
  <td *ngFor="let col of [1, 2, 3, 4, 5, 6, 7,8,9,10]">
  <div>{{numbersArray[(row - 1) * 10 + col - 1]}}</div>
  </td> 
</tr>
</table>
<p id="outputPrenotazione"></p>
  <div *ngIf = "home === undefined">
    <button (click)="clean()"> Concludi prenotazione </button>
  </div>
</div>