<h1>Teatro</h1>
<div *ngIf = "div === undefined">
  <p>
    Inserisci la chiave del teatro
  </p>
  <input id="key" #key type="text" />
  <button id="bottoneKey" (click)="EntryDatabase(key.value)">Inserisci</button>
  <p>
    <button id="bottoneRESET" (click)="cleanTeatro()">RESET</button>
  </p>
  <p id="output"></p>
</div>

<div *ngIf = "div !== undefined">
  <p>Scrivi il tuo nome, premi il pulsante prenota e clicca il posto che vuoi</p>
  <br />
  <input id="info" #info type="text" />
<p>
  <button *ngFor="let platea of bottoni; let counter = index"  style="color:green"
  (click)="selezionaPostoPlatea(info.value, counter)">
    <p>
      {{ platea }}
    </p>
  </button>
</p>
<p>
  <button *ngFor="let palchi of bottoni1; let counter = index" style="color:green" (click)="selezionaPostoPalchi(info.value, counter)">
    <p>
      {{ palchi }}
    </p>
  </button>
</p>
<p id="output"></p>
  <div *ngIf = "home === undefined">
    <button (click)="clean()"> Concludi prenotazione </button>
  </div>
</div>